@charset "UTF-8";

.serviceWrap {
	margin-left: -20px;
	margin-right: -20px;
	padding-bottom: 80px;
	background: #FAEBD7;
}
@media screen and (min-width: 768px),print {
	.serviceWrap {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
		padding-bottom: 200px;
		background: linear-gradient(#FFF 140px, #FAEBD7 140px);
	}
}
.service:not(:first-child) {
	margin-top: 40px;
}
.service__body {
	position: relative;
	z-index: 1;
	margin: -50px 20px 0;
	padding: 40px 20px;
	background: #fff;
	border: 1px solid #8b4513;
}
.service__title .sub {
	display: block;
	color: #8b4513;
}
.service__title .main {
	font-size: 20px;
}
.service__txt {
	margin-top: 25px;
	font-size: 14px;
	line-height: 2;
}
.service__txt p + p {
	margin-top: 1em;
}
.service__photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}
.service__photos li {
	width: calc((100% - 20px) / 2);
	margin-top: 20px;
}
.service__photos img {
	max-width: none;
	width: 100%;
}
@media screen and (min-width:568px) {
	.service__photos {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.service__photos li {
		width: calc((100% - 60px) / 4);
	}
	.service__photos li:not(:last-child) {
		margin-right: 20px;
	}
}
@media screen and (min-width: 768px),print {
	.service {
		position: relative;
		padding-top: 70px;
	}
	.service:not(:first-child) {
		margin-top: 50px;
	}
	.service__image {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50vw;
	}
	.service._reverse .service__image {
		left: auto;
		right: 50%;
	}
	.service__image img {
		max-width: none;
		width: 100%;
		height: 500px;
		object-fit: cover;
	}
	.service__body {
		margin: 0;
		padding: 40px;
		width: calc((716 / 1084) * 100%);
	}
	.service._reverse .service__body {
		margin-left: auto;
	}
	.service__title .sub {
		font-size: 20px;
	}
	.service__title .main {
		font-size: 28px;
	}
	.service__txt {
		font-size: 16px;
	}
}