@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/


/* mainVisual
----------------------------------------*/
.mainVisual {
	background: #ffdead;
	text-align: center;
	color: #fff;
}
.mainVisual img {
	object-fit: contain;
}

/* serviceList
----------------------------------------*/
.serviceList {
	display: flex;
	flex-direction: column;
	margin-top: -20px;
}
.serviceList__item {
	max-width: 400px;
	margin: 20px auto 0;
	box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.serviceList__thumb img {
	max-width: none;
	width: 100%;
}
.serviceList__data {
	margin: 20px;
}
.serviceList__data dt {
	font-weight: bold;
	font-size: 20px;
}
.serviceList__data dd {
	margin-top: 10px;
	line-height: 1.875;
}
.serviceList__btn {
	margin: 20px;
}

@media screen and (min-width: 768px),print {
	.serviceList {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: -20px;
	}
	.serviceList__item {
		display: flex;
		flex-direction: column;
		width: calc((100% - 40px) / 3);
	}
	.serviceList__btn {
		margin-top: auto;
	}
}
/* pickupList
----------------------------------------*/
.pickupList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -20px
}
.pickupList__item {
	width: calc((100% - 15px) / 2);
	margin-top: 20px;
}
.pickupList__item a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.pickupList__thumb {
	max-width: none;
	width: 100%;
}
.pickupList__title {
	position: relative;
	margin-top: 1em;
	padding-left: 1em;
	font-size: 14px;
	line-height: 1.28;
}
.pickupList__title::before {
	position: absolute;
	left: 0;
	top: 0.4em;
	content: "";
	display: block;
	width: 0.6em;
	height: 0.6em;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
}
@media screen and (min-width: 768px),print {
	.pickupList__item {
		width: calc((100% - 40px) / 3);
	}
	.pickupList::after {
		content: "";
		display: block;
		width: calc((100% - 40px) / 3);
	}
	.pickupList__title {
		font-size: 18px;
		transition: color 0.3s;
	}
	.pickupList__item a:hover .pickupList__title {
		color: #8b4513;
	}

	@media screen and (min-width: 922px),print {
		.pickupList__item {
			width: calc((100% - 60px) / 4);
		}
		.pickupList::before,
		.pickupList::after {
			content: "";
			display: block;
			width: calc((100% - 60px) / 4);
		}
		.pickupList::before {
			order: 1;
		}
	}}